header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url(../images/hero.img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;   
    color: rgb(250, 252, 221); 
}

header a {
    text-decoration: none;
    color: rgb(250, 252, 221);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px;
}

.hero {
    background-image: url(../images/hero.img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    height: 150px;

}

.section-title {
    font-size: 36px;
    display: fixed;
    padding-left: 10px;
    text-align: justify;
       

}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    

}

.info img {
    width: 200px;
    height: 200px;
}

.info p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
    align-items: center;
     
}

.websites {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0  auto;
    width: 80%;
    padding: 10px;
}

.work h2 {
    display: flex;
    }


.websites .run-buddy a {
    background-color: red;
}

.websites .run-buddy:hover a {
    background-color: green;
}

.websites .run-buddy:hover {
    border-color: yellow;
}

.websites .run-buddy {   
    width: 100%;
    display: flex;    
    background-image: url(../images/runbuddy.png);
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    margin: 5px;
    border: grey 5px solid;

}


.websites .desertreef {
    background-image: url(../images/desertreef.img);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    height: 300px;
    margin: 5px;
    border: grey 5px solid;
  

}

.websites .place-holder {
    background-image: url(../images/placeholder.jpg);
    background-size: cover;
    display: flex;    
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    margin: 5px;
    border: grey 5px solid;  
}



.contact {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    align-content: center;
         
}

.contact:hover .phone {
    background-color: red;
}

