:root {
    --primary-color: grey;
    --secondary-color: lightblue;

}
body {
    margin: auto;
}
/* Header Start */ 

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url(../images/hero.img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 42px;   
    color: rgb(250, 252, 221); 
}

header a {
    text-decoration: none;
    color: rgb(250, 252, 221);
    font-size: 20px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li {
    padding: 10px;
}
/* Header End */

.hero {
    background-image: url(../images/hero.img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    height: 100px;

}

.section-title {
    font-size: 36px;
    /* display: fixed; */
    flex: 0 0 14%;
    padding: 0 10px; 
    text-align: justify;
    border-right: 5px solid var(--primary-color)

}

/* About Me Start */
main {
    max-width: 88%;
    margin: auto;

}

.titles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    align-items: stretch;
    flex-direction: row;

}

.info img {
    width: 200px;
    height: 200px;
}

.info p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}



/* About Me End */

/* Work Start */
 

.websites {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0  auto;
    width: 80%;
    padding: 10px;
}

.work h2 {
    display: flex;
    }

    .pokemon {   
        width: 100%;
        display: flex;    
        background-image: url("../images/poke-find-home.png");
        background-size: cover;
        justify-content: center;
        flex-direction: column;
        height: 500px;
        margin: 5px;
        border: var(--primary-color) 5px solid;
    
    }

.run-buddy {   
    width: 100%;
    display: flex;    
    background-image: url("../images/runbuddy.png");
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    margin: 5px;
    border: var(--primary-color) 5px solid;

}


.desertreef {
    background-image: url("../images/desertreef.img");
}

.website {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: end;
    height: 300px;
    margin: 5px;
    border: var(--primary-color) 5px solid;  

}

.place-holder {
    background-image: url("../images/placeholder.jpg");

}

/* Work End */

/* Contact Me Start */



.contact div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact a {
    color: var(--primary-color);
    font: 30px bold;
    text-decoration: none;
    

}

/* Contact Me End */

/* Hover start */


.run-buddy:hover {
    border-color: var(--secondary-color);
}

.websites .desertreef:hover {
    border-color: var(--secondary-color);
}

.websites .place-holder:hover {
    border-color: var(--secondary-color);
}

.phone:hover {
    background-color: var(--secondary-color);
}

.email:hover {
    background-color: var(--secondary-color);
}

.git:hover {
    background-color: var(--secondary-color);

}

/* Hover End */

/* Media Querys */

@media screen and (max-width: 980px) {
    header {
        justify-content: center;
    }

}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 575px) {
    
}